*{
    margin: 0;
    padding: 0;
}
body{
    background-color: pink;
    overflow: hidden;
}
.gameContainer{
    background-image: url(bg.jpg);
    background-repeat: no-repeat;
    background-size: 100vw 100vh;
    width: 100%;
    height: 100vh;
}
.gameOver{
    position: relative;
    top: 63px;
    font-family: sans-serif;
    font-size: 53px;
    text-align: center;
    
}
.dino{
    background-image: url(dino.jpg);
    background-repeat: no-repeat;
    mix-blend-mode: multiply;
    background-size: cover;
    width: 230px;
    height: 200px;
    position: absolute;
    bottom: 0;
    left: 1px;
}
.obstacle{
    background-image: url(mono.png);
    background-size: cover;
    background-repeat: no-repeat;
    mix-blend-mode: multiply;
     width: 200px;
    height: 150px;
    position: absolute;
    bottom: 0;
    left: 44vw;
}
#scoreCont{
    border-radius: 10px;
    position: relative;
    top:31px;
    right: -10px;
    border: 2px solid black;
    padding: 5px;
    font-family: sans-serif;
    width: 112px;
    color: black;
}
.animateDino{
    animation: dino 0.6s linear;
}
.obstacleAni{
    animation: obstacleAni 5s linear infinite;
}
@keyframes dino{
    0%{
        bottom: 0;
    }
    50%{
        bottom: 422px;
    }
    100%{
        bottom: 0;
    }
}
@keyframes obstacleAni{
     0%{
        left: 100vw;
    }
    100%{
       left: -10vw;
    }
}